/*! Imports de fonts */

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Web-Black;
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf");
}

@font-face {
  font-family: Web-Bold;
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: Quick;
  src: url("../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

/*! Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: white;
  font-family: Inter;
}

/*! Classes Genéricas */

.layout-grid {
  width: 90%;
  max-width: 992px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.alinhamento-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mostrar-menu {
  left: 0 !important;
}

.mostrar-options {
  right: 0 !important;
}

/*! Mobile First */

/*! Conteúdo */

main {
  margin-top: 60px;
}

main .banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../assets/images/banner-equipes.png") no-repeat;
  background-size: cover;
  background-position: top;

  height: 1231px;
  width: 100%;
}

/* ! BLUR NO FUNDO */

main .banner .blur-box {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

/*! FORMS COM BLUR */

main .banner .cadastro-box {
  margin-top: 78px;
  width: 335px;
  height: 492px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  border: 1px solid grey;

  background-image: linear-gradient(
    to right bottom,
    rgba(27, 20, 38, 0.6),
    rgba(60, 3, 65, 0.38)
  );
  border-radius: 8px;
}

main .banner .cadastro-box h1 {
  position: relative;
  bottom: 70px;

  border-bottom: 3px solid #f9aa01;
  font-size: 28px;
  text-transform: uppercase;
  font-family: Web-Black;
  text-align: center;
}

/* ! INPUT COM FUNDO GRADIENTE */

main .banner .cadastro-box .input-box {
  display: flex;
  align-items: center;
  gap: 15px;

  width: 273px;
  height: 40px;

  border: 0.5px solid grey;
  background: 
                /* content */ linear-gradient(
    to right,
    rgba(239, 239, 239, 0.6) 0%,
    rgba(239, 239, 239, 0.1) 100%
  );
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

main .banner .cadastro-box .input-box input {
  margin-left: 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: Inter;
}

main .banner .cadastro-box .input-box input::placeholder {
  color: white;
}

main .banner .cadastro-box .input-box select {
  width: 88%;
  height: 30px;
  font-family: Inter;
  background-color: transparent;
  outline: none;
  color: white;
  margin-left: 20px;
}

main .banner .cadastro-box .input-box select option {
  color: black;
}

main .banner .cadastro-box .botao-cadastrar {
  position: relative;
  top: 30px;

  width: 273px;
  height: 40px;

  background-color: #f9aa01;
  font-size: 24px;
  color: #1b1426;
  font-family: Web-Bold;
  border-radius: 8px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! TABELA */

main .banner table {
  width: 100%;
  height: 405px;

  margin-top: 140px;

  display: flex;
  flex-direction: column;
}

/* ! ZERAR CSS DA TABELA */

main .banner table,
tr,
th,
td {
  border-style: none;
  border-collapse: collapse;
}

main .banner table thead tr {
  display: flex;
  justify-content: space-between;
  gap: -50px;

  margin-bottom: 25px;
  color: #f9aa01;
  font-size: 20px;
  font-family: Web-Black;
  text-shadow: 0 0 3.5px black;
  text-transform: uppercase;
  border-bottom: 3px solid #f9aa01;
}

main .banner table thead th {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

main .banner table tr {
  width: 100%;
  display: flex;
  gap: 5px;
}

main .banner table tbody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ! LINHAS COM BLUR */

main .banner table tbody tr {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    to right bottom,
    rgba(27, 20, 38, 0.6),
    rgba(60, 3, 65, 0.38)
  );

  backdrop-filter: blur(2px);
  height: 70px;
  border: 1px solid grey;
  border-radius: 8px;
}

main .banner table tbody tr td {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 20px;
  font-family: Web-Bold;

  width: 100%;
  height: 38px;
  border-right: 3px solid #f9aa01;
}

main .banner table td:last-of-type {
  border: none;
}
