/* Imports de fonts */

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Web-Black;
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf");
}

@font-face {
  font-family: Web-Bold;
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: Quick;
  src: url("../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: white;
  font-family: Inter;
}

/* Classes Genéricas */

.layout-grid {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.alinhamento-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mostrar-menu {
  left: 0 !important;
}

.mostrar-options {
  right: 0 !important;
}

/** Mobile First */

/*! Conteúdo */

main {
  margin-top: 60px;
}

main .banner {
  background: url("../assets/images/banner-login.png") no-repeat;
  background-size: cover;
  background-position: top;

  height: 687px;
  width: 100%;

  align-items: center;
  padding: 0 0 121px 0;
}

main .banner .blur-box {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 26px;
  padding-top: 78px;

  width: 374px;
  height: 566px;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(2px);
}

main .banner .blur-box .login-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid white;

  background-image: linear-gradient(
    to right bottom,
    rgba(27, 20, 38, 0.5),
    rgba(27, 20, 38, 0.2)
  );
  border-radius: 8px;

  width: 335px;
  height: 462px;
}

main .banner .blur-box .login-box h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: Web-Black;
}

main .banner .blur-box .login-box h1 {
}
