/* Imports de fonts */

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: white;
  font-family: Inter;
}

/* Classes Genéricas */

.layoutGrid {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.alinhamento-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mostrar-menu {
  left: 0 !important;
}

.mostrar-options {
  right: 0 !important;
}
/* Mobile First */

/* Header */
header {
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 100;
  background-color: #1b1426;
}

header .header-top {
  display: none;
}

header .header-bottom nav {
  position: fixed;
  top: 60px;
  left: -80vw;
  z-index: 101;

  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    to right bottom,
    rgba(27, 20, 38, 0.7),
    rgba(27, 20, 38, 0.4)
  );
  backdrop-filter: blur(45px);
  width: 80vw;
  height: calc(100vh - 60px);
  transition: left 0.4s;
  /* border: 5px solid blue; */
}

.header-bottom {
  height: 100%;
}

header .header-bottom nav > a {
  /* border: 1px solid red; */
  border-bottom: 2px solid #f9aa01;
  padding: 30px 0;
  color: white;
  text-decoration: none;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header .header-bottom nav a:last-of-type {
  border-bottom: none;
}

header .header-bottom .midiasSociais {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;

  gap: 40px;
  display: flex;
  justify-content: center;
}

header .menu-usuarios img {
  width: 20px;
}

header .menu-usuarios {
  position: fixed;
  right: -66px;
  top: 60px;
  z-index: 102;
  transition: 0.4s;

  width: 66px;
  height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-image: linear-gradient(
    to right bottom,
    rgba(27, 20, 38, 0.7),
    rgba(27, 20, 38, 0.4)
  );
  backdrop-filter: blur(45px);
  /* border: 1px solid red; */
}

.banner {
  background: url("../assets/images/banner.png") no-repeat;
  background-size: cover;

  position: absolute;
  top: 60px;
  height: 100vh;
  width: 100%;
}
