/* Imports de fonts */

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: darkslateblue;
}

/* Classes Genéricas */

.layoutGrid {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
}

.alinhamento-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile First */

/* Header */
header {
  height: 60px;
  background-color: #1b1426;
}

header .header-top {
  display: none;
}

header nav {
  position: fixed;
  left: 0;

  display: flex;
  flex-direction: column;

  background-color: grey;
  width: 80vw;
  height: 100vh;
}

header .menu-usuarios {
  display: none;
}

.header-bottom {
  height: 100%;
}

/* header .header-top {
  border-bottom: 0.1px solid #f9aa01;
  justify-content: space-between;
  display: flex;
}

.contatos {
  display: flex;
}

.telefone {
  display: flex;
}

.email {
  display: flex;
}

.midiasSociais {
  display: flex;
  justify-content: flex-end;
} */
